{% load static %}
<html lang="en">
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

<!--	<link rel="shortcut icon" href="{% static 'images/favicon.png'%} type="image/x-icon" >-->

  <title>
    Eco Friendly Products
  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    {% block extra_head %}{% endblock %}
</head>
<body>
  {% include 'EcoFriendlyProducts/navbar.html' %}
  {% block content %} {% endblock %}
  {% include 'EcoFriendlyProducts/footer.html' %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>